@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {

    font-family: 'Poppins', sans-serif;
}



.wrapper {
    max-width: 50vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.wrapper .card {
    background: #fff;
    min-width: calc(33% - 20px);
    min-height: 32vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper .card .circle {
    position: relative;
    min-height: 16.4vh;
    min-width: 7.8vw;
    border-radius: 50%;
    cursor: default;
}

.card .circle .box,
.card .circle .box span {
    position: absolute;
    top: 50%;
    left: 50%;
}

.card .circle .box {
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
}

.card .circle:hover .box {
    transform: translate(-50%, -50%) scale(0.91);
}

.card .circle .box span,
.wrapper .card .text {
    background: -webkit-linear-gradient(left, #f5c836, #f07e16);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-header a {
    color: dimgray;
    font-weight: 500;
}

.circle .box span {
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
}

.card .circle:hover .box span {
    transform: translate(-45%, -45%) scale(1.09);
}

.card .text {
    font-size: 20px;
    font-weight: 600;
}

  header .mb-5{
        font-weight: 600;
    }

.title::before {
    content: '< ';
    font-size: 2rem;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Gochi Hand', cursive;
}

.title::after {
    content: ' />';
    font-size: 2rem;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Gochi Hand', cursive;
}
.title{
    color: #235F8C;
}

h4{
    color: #235F8C;
    font-weight: lighter;
}
h3{
    color: #235F8C;
    font-weight: 300;
}
.navbar, .nav,footer {
    background: #00487D;
}
.display-4{
    font-size: 3rem;
}
.btn{
    background: #235F8C;
    border: #235F8C;
}
a,.fab {
    transition: .3s;
}

a:hover {
    transform: scale(1.1);
}
.fab:hover{
    transform: scale(1.4);
}

#projets img ,.nav img{
    transition: .3s;
}

#projets img:hover,.nav img:hover {
    transform: scale(1.1)
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: -webkit-linear-gradient(left, #f5c836, #f07e16);
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 5px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #f07200;
    left: 20px;
    width: 25px;
    height: 25px;
    z-index: 400;
}

.logo-yt {
    transition: .3s;
}

.logo-yt:hover {
    transform: scale(.8);
}

.dessins img {
    transition: .3s;
}

.dessins img:hover {
    transform: scale(1.1);
}


footer {
    margin-top: 10rem;
}

.fab {
    color: white;
}

@media (min-width:1680px) {

    .col-,
    .last {
        margin: 0 auto;
    }

    #projets .row {
        grid-row-gap: 2rem;
        width: 60vw;
        align-items: center;
    }
}
@media(max-width: 980px){
            .nav{
        display: none;
                
    }
}

@media(max-width: 753px) {
    .wrapper {
        max-width: 700px;
    }

    .wrapper .card {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
    .jumbotron{
        background: url(Images/banniere.svg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .display-1{
        margin-top: 3rem;
        font-size: 3.5rem;
        font-weight: bold;
    }
      header .mb-5{
        font-weight: normal;
    }
    .display-4{
        font-size: 2.5rem;
        
    }
  
    h1{
        font-size: 2rem;
    }
    .first{
        margin-bottom: 3rem;
    }
    .dessins img {
        margin-top: 2rem;
    }

    

}

@media(max-width: 505px) {
    .wrapper {
        max-width: 500px;
    }

    .wrapper .card {
        width: 100%;
    }
      .ash{
        min-width: 58vw;
    }
    

}
